<title>Login Homepage</title>
<div ng-app='homepage'>
	<div ng-controller='loginController as login' class='container-fluid'>
		<div class='row'>
		<div class='col-sm-4 col-sm-offset-4'><div class='row'>
			<button ng-click='login.signUpDisplay=true' class='btn btn-default col-sm-6'>Sign Up</button>
			<button ng-click='login.signUpDisplay=false' class='btn btn-default col-sm-6'>Log In</button>
		</div></div>
		</div>
		<div class='row'>
		<form ng-show='login.signUpDisplay' ng-submit='login.signUp()' name='signUpForm' class='navbar-form col-sm-4 col-sm-offset-4'>
			<div class='form-group row' ng-class="{'has-warning': signUpForm.signUpName.$invalid, 'has-success': !signUpForm.signUpName.$invalid}">
				<label class='col-sm-12'>Name</label>
				<input type='text' ng-model='login.signUpName' class='form-control col-sm-12' name="signUpName"placeholder='e.g. Nikola Tesla' required></input>	
			</div>
			<div class='form-group row' ng-class="{'has-error': (signUpForm.signUpEmail.$dirty && signUpForm.signUpEmail.$invalid), 'has-success': signUpForm.signUpEmail.$dirty && !signUpForm.signUpEmai.$invalid}">
				<label class='col-sm-12'>Email Address</label>
				<input type='email' ng-model='login.signUpEmail' class='form-control col-sm-12' placeholder='e.g. foo@boo.com' name='signUpEmail' required></input>	
			</div>
			<div class='form-group' ng-class="{'has-error': login.signUpRepeatPw != login.signUpPw || signUpForm.signUpPw.$invalid}">
				<label class='col-sm-12'>Your Password</label>
				<input type='text' ng-model='login.signUpPw' name='signUpPw' class='form-control col-sm-12' required></input>			
			</div>
			<div class='form-group' ng-class="{'has-error': login.signUpRepeatPw != login.signUpPw || signUpForm.repeatPw.$invalid}">
				<label class='col-sm-12'>Repeat Password</label>
				<input type='text' ng-model='login.signUpRepeatPw' name='repeatPw' class='form-control col-sm-12' required></input>
				<h1 ng-hide='login.signUpRepeatPw === login.signUpPw'>Passwords must match</h1>
			</div>
			<input type='submit' class='btn btn-default'></input>
		</form>	<div class='col-sm-4'></div>
		</div>
		<form ng-hide='login.signUpDisplay === true' ng-submit='login.login()'>
			<label>Email Address</label>
			<input type='text' ng-model='login.loginEmail' placeholder='e.g. foo@boo.com' name='email' required></input>
			<label>Your Password</label>	
			<input type='text' ng-model='login.loginPw' required></input>
			<input type='submit' class='btn btn-default'></input>
		</form>
		</div>
		<button ng-click='login.amIAuthenticated()' class='btn btn-default'>authenticated?</button>
	</div>
</div>
